/********************* Variables ************************/

// Colors
@brand-color-primary:             rgb(0,33,71); // "Oxford Blue"
@brand-color-secondary:           rgb(207,122,48);
@color-primary-light:             rgb(95,155,175);
@section-bg-color:                rgb(161,196,208);
@text-color:                      #3d3b3b;
@text-color-light:                lighten(@text-color, 40%);
//@footer-bg-color:               #e6e6e6;
@footer-bg-color:                 rgb(224,222,217);
//@light-bg-color:                #A1C4D0;
@light-bg-color:                  #e7f0f6;
@paper-bg-color:                  #f2f2e8;
@contrast-color:                  #fff;
@link-hover-color:                @brand-color-primary;

//@blue-gradient:                 linear-gradient(150deg, #1072bb 11%,#1F94BB 45%,@section-bg-color 95%);
@blue-gradient:                   linear-gradient(150deg, #5F9BAF 11%,#A1C4D0 45%,@section-bg-color 95%);
@gray-gradient:                   linear-gradient(150deg, @light-bg-color 16%, @section-bg-color 45%, @light-bg-color 91%);

// Breakpoints
@small-screen-min:                480px;
@medium-screen-min:               40.5em;   //  712px
@large-screen-min:                64.063em; // 1024px

// Font-Sizes
@tp-font-base:                    1rem;
@tp-font-small:                   .8rem;

@font-family-default:             'PT Sans', sans-serif;
@font-family-sans:                'PT Sans', sans-serif;

// Navigation
@color-bg-navigation-bar:         @brand-color-primary;
@topbar-height:                   3.125rem;
@topbar-menu-icon-color-toggled:  @contrast-color;
@color-bg-dropdown-menu:          @color-primary-light;
