<?xml version="1.0" encoding="UTF-8"?>
<ul class="dropdown-menu">
    <li>
        <a href="names.html?letter=Α">Α</a>
        <a href="names.html?letter=Β">Β</a>
        <a href="names.html?letter=Γ">Γ</a>
        <a href="names.html?letter=Ϝ">Ϝ</a>
        <a href="names.html?letter=Δ">Δ</a>
        <a href="names.html?letter=Ε">Ε</a>
        <a href="names.html?letter=Ζ">Ζ</a>
        <a href="names.html?letter=Η">Η</a>
        <a href="names.html?letter=Θ">Θ</a>
        <a href="names.html?letter=Ι">Ι</a>
        <a href="names.html?letter=Κ">Κ</a>
        <a href="names.html?letter=Λ">Λ</a>
        <a href="names.html?letter=Μ">Μ</a>
        <a href="names.html?letter=Ν">Ν</a>
        <a href="names.html?letter=Ξ">Ξ</a>
        <a href="names.html?letter=Ο">Ο</a>
        <a href="names.html?letter=Π">Π</a>
        <a href="names.html?letter=Ρ">Ρ</a>
        <a href="names.html?letter=Σ">Σ</a>
        <a href="names.html?letter=Τ">Τ</a>
        <a href="names.html?letter=Υ">Υ</a>
        <a href="names.html?letter=Φ">Φ</a>
        <a href="names.html?letter=Χ">Χ</a>
        <a href="names.html?letter=Ψ">Ψ</a>
        <a href="names.html?letter=Ω">Ω</a>
    </li>
</ul>