<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <style type="text/css">
        fieldset {
    border: 1px solid #eee;
    padding: 0 1.4em 1.4em 1.4em;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    width:inherit; /* Or auto */
    padding:0 10px;
    border-bottom:none;
}

    </style>
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="./index.html">App Title</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="index.html">Home</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                        </ul>
                    </li>
                    <li id="fr">
                        <a href="?lang=fr">Fr</a>
                    </li>
                    <li id="en">
                        <a href="?lang=en">En</a>
                    </li>
                    <li id="de">
                        <a href="?lang=de">De</a>
                    </li>
                    <li id="names">
                        <a href="names.html">Name catalogue</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content" class="container"/>
        <footer>
            <a class="poweredby" href="http://exist-db.org">
                <img src="$shared/resources/images/powered-by.svg" alt="Powered by eXist-db"/>
            </a>
        </footer>
    </body>
</html>